
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&family=Martian+Mono:wght@300&family=Poppins:ital,wght@0,200;0,300;1,200&family=Roboto:wght@300&display=swap');

*{
  margin: 0;
}
  :root{
    --red:#D01C28
  }
  body{
    
font-family: 'Poppins', sans-serif;

  }


